   
   

   <html>
     <style "text">
      .invoiceTable table th, tr{
       font-size: 13px;
      }
      .upperCase{
       text-transform: uppercase;
      }
      
      .invoiceContainer{
        
        padding: 1em;
        height: 100vh;
        margin: 0px;
        border: 1px solid gray;
      }

      h4{
        font-weight: 100;

      }

      .invoiceStatusContainer{
        
        margin: 1em 0em;
      }

      .invoiceStatusContainer > h3{
        font-weight: 300;
      text-transform: uppercase;
      }
      
      .invoiceStatus{
      
      }
      
      .heading{
    
      }

      button{
        width: fit-content;
        padding: .8em 2em;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        background-color: orange;
        
      }
      h1{
        font-weight: 100;
        text-decoration: underline;
      }

   </style>
     <body>
         <div class="invoiceContainer">
<div class="heading">
  <h1 >Apneehatti</h1>
</div>
       <h3>Hello , {{fullName}}</h3>
      <h3>Your Order has been shipped</h3>
      <h3>Below you can find the shipping details and invoice</h3>
       <hr/>
      <div class="invoiceStatusContainer">
        <h3>Details</h3>
        <h4>Order {{order_id}}</h4>
        <h4>Total including shipping : &#8377;{{tPrice}}</h4>
        <a href="https://apneehatti.herokuapp.com/shipping/placeorder/order/{{order_id}}"><button>View Order</button></a>

      </div>

      
      <hr/>
      <h4>If you have any question contact us , 
      </br>apneehatti@gmail.com or call at 1234567890</h4>
      <h4>Thank you for shipping</h4>

    </div>
     </body>
   </html>
  